*~
.\#*
\#*
\#.*
/build/
/autom4te.cache/
/aclocal.m4
/compile
/config.h.in
/configure
/depcomp
/install-sh
Makefile.in
/missing
.deps/
Makefile
config.h
config.log
config.status
config.guess
config.rpath
config.sub
ABOUT-NLS
stamp-h1
*.o
*.exe
advanced-sample
simple-sample
